.container {
  font-family: Tajawal;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 170px 100px;
}
.item {
  border-radius: 10px;
  border: 2px solid #260701;
  padding: 20px;
  width: 300px;
  height: 100px;
}
