.newpasswordContainer {
  font-family: "Tajawal", sans-serif;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.login-btn {
  background-color: #260701;
  color: #fff;
  padding: 10px;
  height: 50px;
  width: 350px;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
}
